@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .swiper {
	width: 100%;
	height: 100vh;
   } */

   .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
   
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
   }
   
   /* .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
   } */

/* @font-face {
	font-family: "Poppins";
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
} */
